- content_for(:page_title, 'Profile')

%h2
  Your Profile

= form_with(model: @user, scope: :user, url: profile_path, method: :put, local: true) do |f|
  = render partial: 'users/form', locals: { f: f }