%fieldset
  %legend
    %span
      = section.title
  %table.section_table
    - responses = section.questions.sort_by(&:display_order).map do |question|
      - submission.responses.detect { |r| r.question == question }
    - responses.each do |response|
      %tr.question
        %td
          = response.question.text
      %tr.answer
        %td
          = render partial: "grant_submissions/responses/#{response.question.response_type}_response", locals: { response: response }
