%tr{ data: { invite: invitation.id } }
  %td.email
    = invitation.email
  %td.created
    = time_tag(datetime: invitation.created_at.to_date)
  %td.confirmation
    = (invitation.confirmed_at.nil?) ? '-' : time_tag(datetime: invitation.confirmed_at)
  %td.inviter
    = full_name(invitation.inviter)
