<td><%= answer.text_field :text %></td>
<td><%= answer.text_field :display_order, size: 3 %></td>
<!-- <td><%#= answer.text_field :export_code, size: 5 %></td> -->
<td><%= answer.link_to_remove "Delete", class: "button tiny btn-pill warning" %></td>
