<!-- <div class="link_box">
  <%#= link_to "Back to List", polymorphic_path([@grant, FormBuilder::ResponseSet], form_builder_survey_id: @response_set.survey.id), :class=>"button small btn-info" %>
</div> -->

<div class="page-header">
    <h2><%= @the_action %></h2>
</div>

<%= render partial: 'form' %>

<!-- <script>
  $(function() {
    $('#show_hidden_questions').click(function(){
      $('tr.question div').slideDown();
      $('#show_hidden_questions').hide();
      $('#hide_hidden_questions').show();
    });
    $('#hide_hidden_questions').click(function() {
      grant.FormBuilderConditions.init();
      $('#hide_hidden_questions').hide();
      $('#show_hidden_questions').show();
    });
  });
</script> -->
