<div data-date_optional_time_picker>
  <%= f.text_field dt_input, options.merge( { value: value, id: css_id } ) %>
  <script>
    $(function() {
      $("#<%= "#{css_id}" %>").fdatepicker({
        format: 'mm/dd/yyyy',
        closeIcon: ' X ',
        closeButton: true
      });
    });
  </script>

</div>
