-# Note: Date only. _optional_time_picker is legacy to FormBuilder and is not available.
%div{data: { date_optional_time_picker: true } }
  = f.text_field(attribute: dt_input, options: options.merge( { value: value, id: css_id } ) )
  :javascript
    document.addEventListener('turbo:load', function() {
      $('##{css_id}').fdatepicker({
        format: 'mm/dd/yyyy',
        closeIcon: ' X ',
        closeButton: true
      });
    });
