#review-header.grid-container-x
  .grid-x.review-info
    .grid-x.cell.small-12.medium-2
      %strong Grant RFA:
    .grid-x.cell.small-12.medium-10
      = link_to @grant.name, grant_path(@grant)
    .grid-x.cell.small-12.medium-2
      %strong Submission:
    .grid-x.cell.small-12.medium-10
      = link_to @submission.title, grant_submission_path(@grant, @submission)
    .grid-x.cell.small-12.medium-2
      %strong Applicants
    .grid-x.cell.small-12.medium-10
      = full_name_list(@submission.applicants)
    .grid-x.cell.small-12.medium-2
      %strong Reviewed By:
    .grid-x.cell.small-12.medium-10
      = full_name(@review.reviewer)
