<div id="registered-user-links">
  <%- if controller_name != 'sessions' && controller_name != 'login' %>
    Already have an account?
    <%= link_to "Log in", login_index_path() %><br />
  <% end %>

  <%- if controller_name != 'registrations' %>
    New user? <%= link_to "Create an account", new_registration_path(resource_name) %><br />
  <% end %>

  <%- if controller_name != 'passwords' && controller_name != 'registrations' %>
    Forgot your password?
    <%= link_to "Reset your password", new_password_path(resource_name) %><br />
  <% end %>

  <%- if controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
  <% end %>
</div>
