<div class="link_box">
  <%= link_to 'Back', polymorphic_path(@grant), :class => "button small btn-info" %>
</div>

<div class="page-header">
  <h2><%= "Applications submitted to #{@grant.name}" %></h2>
</div>

<div>
  <%#= link_to 'Toggle Data Table', '#', :id => 'toggle_data_table' %>

  <% crud_links = {}
     @submissions.each do |rs|
       crud_links[rs.id] = render partial: 'crud_links', locals: {submission: rs}
     end
  %>

  <div class="non_data_table_wrapper">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Applicant</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @submissions.sort_by(&:id).sort_by(&:date_order).each do |submission| %>
        <tr>
          <td>
            <%= link_to "#{submission.applicant.name}", edit_grant_apply_path(@grant, submission) %>
          </td>
          <td>
            <%= crud_links[submission.id] %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

