%td
  = multiple_choice_option.text_field :text
%td
  = multiple_choice_option.text_field :display_order, size: 3
%td
  = multiple_choice_option.link_to_remove "Delete", class: "button tiny btn-pill warning"
