<div class="fields">
  <fieldset class="fieldset form_builder_question_fieldset">
    <legend>
      <span>Question</span>
    </legend>
    <table class="question_table table" style="width: 90%;">
      <tbody>
        <tr>
          <td>
            <%= label :project_title, 'Project Title' %>
            <%= text_field :project_title, '', placeholder: 'Project Title field is required', disabled: true %>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
