.callout.warning
  - if @panel.start_datetime.blank?
    %strong
      Panel is not scheduled.
    %p
      This grant has not scheduled a panel.
  - elsif panel.is_open?
    %p
      This section will be available to reviewers until #{will_close_at_string(panel: panel)}.
  - elsif panel.start_datetime > DateTime.now
    %strong
      Panel has not yet started.
    %p
      This section will be available to reviewers at #{will_open_at_string(panel: panel)}.
  - else
    %strong
      Panel has ended.
    %p
      This panel has ended and is no longer accessible to reviewers.
  - if @user_grant_role
    Reviewers will not see Awarded information.
