#metadata.grid-x
  - if @panel.instructions.present?
    #instructions.cell.small-12
      = @panel.instructions.html_safe

  - if @panel.meeting_location.present? || @panel.meeting_link.present?
    #meeting.cell.small-12
      - if @panel.meeting_location.present?
        .location
          %div
            Location:
          %div
            = simple_format(@panel.meeting_location)

      - if @panel.meeting_link.present?
        .link
          %div
            Link:
          %div
            = link_to "#{@panel.meeting_link}", @panel.meeting_link
