- content_for(:page_title, 'Duplicate Grant')
%h1
  Make a new grant based on
  = @grant.name

%p
  Once you update and save, it will copy all questions and roles from
  = link_to "#{@grant.name}", grant_path(params[:grant_id])

=# form_with model: @grant do |f|
