%h3 All Users

%table
  %thead
    %tr
      %th
        Name
      %th
        Email

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, profile_path(user)
        %td= user.email
