%h3 All Users

%table
  %thead
    %tr
      %th
        Name
      %th
        Email

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to sortable_full_name(user), edit_user_path(user)
        %td= user.email
