%h3 All Users

= render partial: 'shared/pagy_header', locals: { pagy: @pagy }

%table
  %thead
    %tr
      %th
        Name
      %th
        Email

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to sortable_full_name(user), edit_user_path(user)
        %td= user.email

!= pagy_foundation_nav(@pagy)
