<p class="help-text" id="eligibleReviewerHelp">
  Submissions are available until they have the reached the
  <%= link_to 'Maximum Reviewers per Submission', edit_grant_path(@grant), anchor: 'reviewers' %>
  limit. Reviewers can't be assigned to review their own submissions.
</p>
