%div{ class: "callout #{foundation_alert_class_for(type) }", 'data-closable' => '' }
  = format_flash_messages(flash_content)
  %button.close-button{ 'aria-label' => 'Dismiss alert', 'data-close' => "", type: 'button'}
    %span{ 'aria-hidden' => 'true' } X
