%p
  Dear #{full_name(@requester)},

%p
  You request for Grant Creator rights has been approved.

%p
  After you log in, you can create a new Grant by visiting:<br/>
  = link_to "#{profile_grants_url}", profile_grants_url

%p
  If you have any questions or would like to request a demo, please reply to this email.

%p
  Happy grantmaking!

%p
  Thank you.
