%p
  Dear #{full_name(@reviewer)},

%p
  You have been asked to review the submission
  = surround '"', ',"' do
    = link_to @submission.title, grant_submission_url(@grant, @submission)
  an application to the grant #{link_to @grant.name, grant_url(@grant)} in Competitions.

%p
  \#TODO: Add link to users reviews page.

%p
  Thank you.
