.grid-x.align-center-middle
  .small-12.cell#section-intro
    %h4.text-center
      #{COMPETITIONS_CONFIG[:application_name]} is a platform to run NIH-style grant competitions including pilot projects and research awards.

%hr.small-11

.grid-x.align-center-middle
  .small-12.text-center
    .section-intro
      %h3.subheader.text-align-center
        Current Grants
.grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3#public-grants
  - if @grants.present?
    - @grants.each do |grant|
      .cell
        = render 'card', grant: grant
  - else
    .small-12.text-center
      %h5
        There are no open grants available.
