%ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true", "data-multi-expand" => "false"}
  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.8
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add license.
          %li
            Add grant creator request notifications for system admins.
          %li
            Add ability to unselect review criteria score.
          %li
            Changes to datepicker.
          %li
            Changes to help text.
          %li
            Fix submission export bug.
          %li
            Update gems.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.7
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Adds submission exports to excel.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.6
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            This release adds the following.
          %li
            Reviewer invitation workflow.
          %li
            Autocomplete to users in grant permissions.
          %li
            Fixes for grant permission form layout.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.5
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Add Select2 autocomplete to grant permissions.
          %li
            Add dropdown admin links.
          %li
            Change submission flash messages.
          %li
            Update reviewer assignment email.
          %li
            Clarify delete confirm dialogues.
          %li
            Fix javascript confirmation dialogues on delete.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.4
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Fix storage symlink.
          %li
            Update devise_saml_authenticatable gem.
          %li
            Fix failing specs.
          %li
            Fix update method in saml_sessions controller.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.3
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Fix excel export of reviews.
          %li
            Fix admin delete of submissions.
          %li
            Redesign grant published button.
          %li
            Fix issues with flexbox.
          %li
            Use configurable application name where appropriate.
          %li
            Standardize links and headers.
          %li
            Add panels.
          %li
            Refactor pagy_header.
          %li
            Pin footer to window bottom.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.2
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Update to rails 6.
          %li
            Changes for registered users.
          %li
            Increase configurable elements.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.1
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Make foundation settings configurable.
          %li
            Customize devise views.
          %li
            Add symlink storage file.
          %li
            Update devise_saml_authenticatable gem.
          %li
            Fix submission delete errors.
          %li
            Split users into registerable and saml users.
          %li
            Refactor full root url helper method.
          %li
            Change readme file.
          %li
            Make changes for open sourcing.
          %li
            Include question instructions on application view.
          %li
            Enforce review date.
          %li
            Add reviewer reminder emails.
          %li
            Add hover text to table headings.

  %li.accordion-item{"data-accordion-item" => ""}
    %a.accordion-title{:href => "#"} 1.0
    .accordion-content{"data-tab-content" => ""}
      %p
        %ul
          %li
            Initial release of Competitions.
