%ul.menu.simple
  %li= link_to 'Edit', edit_grant_grant_permission_path(grant, grant_permission)
  %li= link_to 'Delete', grant_grant_permission_path(grant, grant_permission), method: :delete, data: { confirm: "Are you sure you want to remove #{grant_permission_user_name} name from this grant?" }
