<div class="grid-container grid-container-padded">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell align-center-middle">
      <h3>Log in</h3>
      <%= render 'devise/sessions/form' %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
