
%h3
  = "Log in"

.cell
  .instructions.registered
  = link_to "With #{COMPETITIONS_CONFIG[:devise][:saml_authenticatable][:idp_entity_name]}",  new_saml_user_session_path, class: 'saml-log-in button expanded'
.cell.or
  OR
.cell
  .instructions.registered
  = link_to "Continue with Email",  new_registered_user_session_path, class: 'registered-user-log-in button expanded'
