.card#grant-dates
  %h4.card-divider
    Dates
  .card-section
    %dl
      %dt
        Publish Date:
      %dd
        = grant.publish_date
      %dt
        Submission Open Date:
      %dd
        = grant.submission_open_date
      %dt.secondary
        Submission Close Date:
      %dd
        = grant.submission_close_date
