/ .nested-fields
/   .field
.grid-x.grid-padding-y
  .cell
    %h4
      = f.label :review_guidance, 'Review Guidance'
    %p
      %em
        You may provide instructions and guidelines to help them score the submissions.
    = f.hidden_field :review_guidance, id: 'review_guidance'
    %trix-editor(input='review_guidance')
