%h1 Grants

%table
  %thead
    %tr
      %th
        Name
      %th
      %th

  %tbody
    - @grants.each do |grant|
      %tr
        %td= link_to grant.name, grant
        %td= link_to 'Edit', edit_grant_path(grant) if policy(grant).edit?
        %td=  link_to 'Delete', grant, method: :delete, data: { confirm: 'Are you sure?' } if policy(grant).destroy?

%br

-if policy(Grant).new?
  = link_to 'New Grant', new_grant_path
