%h3 All Grants

- if current_user.system_admin? || current_user.grant_creator?
  = link_to 'Create New Grant', new_grant_path, class: 'button primary'

- if @grants.none?
  %p
    There are no grants at this time.
- else
  = render 'shared/pagy_header', locals: { pagy: @pagy}

  = render partial: 'grants/sortable_table', locals: { q: @q, grants: @grants }

  != pagy_foundation_nav(@pagy)
