- content_for(:page_title, 'Create a New Grant')

%h1#grant-name Create a New Grant

= form_with model: @grant, local: true, data: { turbo: false } do |f|
  = render 'form', f: f, grant: @grant, disable_fields: false

= link_to 'Back', grants_path
