main {
  .menu.simple {
    margin: 1rem 0;
  }

  &.grants,
  &.grant_permissions,
  &.submissions,
  &.forms {
    // Edit
    #grant-state {
      margin: 2rem 0;
      form.grant-state {
        display: inline-block;
        .button {
          margin: 0;
        }
      }
    }
  }
}

th {
  text-align: left;
}

.field_with_errors {
  input, select, textarea {
    border: 1px solid #cc4b37;
    box-shadow: 0 0 2px #cc4b37;
  }
}
.tabs-title.is-active {
  background-color: #e6e6e6;
}
