// Place all the styles related to the grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main.grants {
  // Show
  #title {
    padding: 0rem 0 1rem 0;
    h1 {
      .name {
        &.long {
          font-size: 2.75rem;
          line-height: 2.5rem;
        }
        small {
          margin-top: 1em;
          display: block;
        }
      }
    }
  }
  // Shared
  #rfa,
  trix-editor {
    h1 {
      font-size: 1.5rem;
    }
    #apply {
      margin: 1rem 0;
    }
  }
  #grant-status {
    margin: 1rem 0;
  }
}
