@import 'settings';
main.grant_permissions {
  .notification-checkbox{
    padding-top: .3rem;
  }

  .select2-selection {
    border-radius: 0 !important;
    border: 1px solid #cacaca !important;
    height: 2.4375rem !important;
    padding-top: .25rem !important;
  }

  .select2-selection__arrow {
    top: 6px !important;
  }

  #permissions {
    border: 1px solid $light-gray;
    .grid-x {
      &.header {
        background-color: $table-head-background;
        padding: .5em 0;
        .cell {
          align-items: baseline;
          display: table-cell;
          font-size: .85em;
          font-weight: bold;
        }
      }
    }

    .permission {
      border-bottom: 1px solid $light-gray;
      &:nth-of-type(odd) {
        background-color: $table-striped-background;
      }
      &:nth-of-type(even) {
        background-color: $white;
      }
    }
  }
}
