*[id^="reviews_"] ul {
  list-style: none;
}

#unassigned_submissions,
*[id^="reviews_"], {
  border: 1px solid grey;
}

.review_list,
.unassigned_submission_list {
  .review,
  .unassigned_submission {
    line-height: .975em;
    margin: 1em 0em;
  }
}
.hover {
  background-color: #888888;
}

.review_list {
  min-height: 2em;
  padding-top: 0.5em;
}

