main.submissions {
  fieldset {
    legend {
      font-weight: bold;
      padding: 0 1em;
    }
    td {
      border-top: 1px solid #EEE;
      vertical-align: top;
      .helper-text {
        font-size: .85em;
        font-style: italic;
      }
      .no-response {
        font-size: .85em;
        font-style: italic;
        text-transform: uppercase
      }
    }
  }
}
