main.submissions {
  #grant-submissions {
    thead tr {
      &:first-of-type {
        th {
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
    td {
      vertical-align: top;
      ul {
        padding: 0;
      }
    }
  }
}
