main.forms {
  form.edit_grant_submission_form {
    a.button {
      margin: 1em;
    }
    td {
      vertical-align: top;
    }
    fieldset.fieldset {
      &.form_builder_section_fieldset,
      &.form_builder_question_fieldset {
        legend {
          span {
            font-weight: bold;
          }
        }
      }

    }
  }
}
