main.submissions {
  #grant-submissions {
    .turbo-table {
      .header {
        vertical-align: bottom;
      }
      .overall-impact {
        text-align: right;
      }
      .scores {
        .reviews {
          margin-left: 1em;
        }
        .divider {
          font-size: 1.25em;
          padding: 0 .5em;
          text-align: center;
        }
        .composite {
          text-align: left;
        }
      }
    }
  }
}
