main.panels {
  #metadata {
    #instructions,
    #meeting {
      padding-bottom: 1.5rem
    }
    #meeting {
      font-size: .95rem;
    }
  }
  table {
    caption {
      text-align: left;
      font-size: 0.85rem;
      font-weight: normal;
    }
  }
}
