main.panels {
  #metadata {
    margin-bottom: 1rem;
    #instructions {
      padding-bottom: 1.5rem
    }
  }
  input#panel_show_review_comments {
    margin-top: 0.75em;
  }
  table {
    caption {
      text-align: left;
      font-size: 0.85rem;
      font-weight: normal;
    }
  }
}
