@import 'settings';
main {
  &.reviews {
    #review-header,
    #review-guidance,
    #overall, {
      margin: 2em 0em;
    }
    #overall,
    #composite-score,
    .criterion {
      margin: .5em 0em;
      padding: 1em;
    }
    #composite-score,
    .criterion {
      &:first-of-type {
        border-top: 1px solid $medium-gray;
      }
    }
    form {
      comment {
        min-height: auto;
        textarea {
          min-height: auto;
          overflow-y: hidden !important;
        }
      }
      #overall,
      .criterion {
        border-bottom: 1px solid $medium-gray;
        margin: 1em 0em;
        padding: 1em;
        .description {
          margin-bottom: 1em;
        }
      }
      #overall {
        border-bottom: none;
      }
      .button-group {
        .scoring-guidance {
          color: $dark-gray;
          padding: 0.25em 1em;
        }
        .clear-button {
          margin-left: 2em;
          opacity: .4;
          &:hover {
            opacity: .8;
          }
        }
        .score_value {
          display: inline-block;
          margin-right: .5em;
          &:last-of-type {
            margin-right: none;
          }
          field_with_errors { 
            display: inline; 
          }
          label {
            border: 1px solid $dark-gray;
            background-color: $white;
            color: $dark-gray;
            &:hover {
              background-color: $dark-gray;
              color: $white;
            }
          }
          .field_with_errors,
          input {
            display: none;
            + label.button {
              border-radius: 1000px;
            }
            &:checked + label,
            &:checked + label:active {
              background-color: $dark-gray;
              color: $white;
            }
          }
        }
      }
    }
    @media print {
      .criterion,
      #overall-impact {
        border-bottom: 0px !important;
      }
      .criterion .row,
      #overall-impact .row {
        .review {
          clear: both;
          display: flex;
          margin-bottom: 0.5em;
          .reviewer {
            float: left;
            max-width: 25%;
          }
          .responses {
            font-size: 1em;
            float: left;
            max-width: 70%;
          }
          &:last-of-type {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}
