%h3
  My Reviews

%table
  %thead
    %tr
      %th Title
      %th Applicant
      %th Grant
      %th Due Date

  %tbody
    - @reviews.each do |review|
      %tr
        %td= link_to truncate(review.submission.title), grant_submission_path(review.grant, review.submission)
        %td= sortable_full_name(review.submission.applicant)
        %td= review.grant.name
        %td= review.grant.review_close_date

%br