<p>"Welcome,"</p>

<p><%= "Thank you for creating an account with #{COMPETITIONS_CONFIG[:application_name]}." %></p>

<p><%= "You can start using #{COMPETITIONS_CONFIG[:application_name]} by clicking on the link below to confirm your account" %></p>

<p><%= link_to "Confirm my #{COMPETITIONS_CONFIG[:application_name]} account", confirmation_url(@resource, confirmation_token: @token) %></p>