%header.cell
  .top-bar
    .top-bar-left
      .home
        = link_to 'CD2H - Competitions', root_path
    .top-bar-right
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        %li
          = render 'devise/menu/login_items'
