%li#help
  = link_to 'Help', '#'
  %ul.menu
    %li
      = link_to 'Overview', 'https://data2health.github.io/competitions-project/'
    %li
      = link_to 'Release Notes', release_documentation_index_path